/*
Author : Samarjit Das;
Theme : Foodvil Resturant Theme;
Version : 1.0;
*/
/*css for all */

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
   
    width: 80%;
    margin: 0 auto;
    padding: 1%;

}

.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 20px;

}
.text-right{
    text-align: right;

}
.text-center{
    text-align: center;
}
.text-white{
    color: rgb(255, 242, 0);

}
.clearfix{
    clear: both;
    float: none;

}
a{
    color: rgba(255, 118, 117,1.0);
    text-decoration: none;

}
a:hover{
    color: rgba(52, 152, 219,1.0);
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 7px;
}
.btn-primary{
    background-color: #f1c40f;
    color: white;
    cursor: pointer; 
}
.btn-primary:hover{
    background-color: turquoise;
    color: yellow;
}
h2{
    color: rgb(255, 107, 107);
    font-size: 2rem;
    margin-bottom: 3%;
}
h3{
    font-size: 2.5rem;

}

.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 20%;
  

}
/* css for navbar section */
.logo{
    
    width: 18.3%;
    float: left;
}
.menu{
    line-height: 70px;

}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* css for food search section */
.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 7px;
}

/* css for categopries */
.categories{
    padding: 4% 0;

}

.box-3{
    
    width: 28%;
    float: left;
    margin: 2%;

}

/* css for foodmenu */
.food-menu{
    background-color: hsla(0, 0%, 93%, 0.555);
    padding: 4% 0;

}
.food-menu-box{
    
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 18px;

}

.food-menu-img{
    width: 20%;
    float: left;

}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;

}
.food-price{
    font-size: 2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #8395a7;
}

/*css for social */
.social ul{
    list-style-type: none;

}
.social ul li{
   display: inline;
   padding: 1%;

}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/*responsive */
@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;

    }
    .menu ul{
        text-align: center;

    }
    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;

    }
    .btn{
        width: 91%;
        padding: 2%;

    }
    .food-search{
        padding: 10% 0;
    }
    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 90%;
        margin: 4% auto;

    }
    .food-menu{
        padding: 20% 0;
    }
    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}